.header__links {
  list-style: none;
  padding-top: 12px;
  padding-left: 0px;
  margin: 0px;
  height: 24px;
  display: flex;
}

@media screen and (max-width: 320px) {
  .header__links {
    padding-top: 10px;
  }
}
