@import url('./__item/cover__item.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover___subtitle.css');

.cover {
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0px 0px 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0px 0px 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 0px 0px 64px;
  }
}
