.place__website-url {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 456px;
  max-height: 22px;
  transition: opacity 0.5s linear;
}

.place__website-url:hover {
  opacity: 0.8;
}
