@import url('__links/footer__links.css');
@import url('__links-list/footer__links-list.css');
@import url('__link/footer__link.css');
@import url('__author/footer__author.css');

.footer {
  margin: 0 48px 0;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    height: 198px;
    margin: 0 136px 0 16px;
    display: flex;
    flex-direction: column;
  }
}
