@import url('__title/place__title.css');
@import url('__photo/place__photo.css');
@import url('__website/place__website.css');
@import url('__website-heading/place__website-heading.css');
@import url('__website-url/place__website-url.css');
@import url('__paragraph/place__paragraph.css');

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 48px 40px;
  margin: 0px 148px 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    margin: 0px 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0px 24px 88px;
  }
}

@media screen and (max-width: 580px) {
  .place {
    margin: 0px 0px 64px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}
